table,
td,
th {
    border: 1px solid red;
}

* {
    border-collapse: collapse;
}

.frmtbl {}

.frmtbl thead {}

.frmtbl tbody {}

.frmtbl tfoot {}

.marked-list {
    list-style-type: square;
    list-style-position: inside;
    list-style-image: url('marker.png');
    margin-left: 50px;
}

#layer {
    background-color: yellow;
    border: 2px solid green;
    padding: 20px;
    padding-left: 50px;
    color: blue;
    width: 200px;
    position: absolute;
    clip: rect(40px, auto, auto, 40px);
}

.image-container {
    border: 1px solid;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.scrollbar-styling {
    width: 200px;
    height: 100px;
    overflow: auto;
}

html,
body {
    scrollbar-3dlight-color: red;
    scrollbar-arrow-color: yellow;
    scrollbar-highlight-color: aqua;
    scrollbar-face-color: green;
    scrollbar-shadow-color: fuchsia;
    scrollbar-darkshadow-color: blue;
    scrollbar-track-color: maroon;
}