body {
    margin: 0;
}

.block-with-border {
    width: 200px;
    height: 200px;
    border: 2px dashed blue;
    border-top: 5px solid red;
    border-bottom: 5px solid green;
    border-left: 10px dotted orange;
    border-right: 10px double purple;
    margin-bottom: 20px;
}

.block-with-background-image {
    width: 200px;
    height: 200px;
    background-image: url('your-image.jpg');
    /* Укажите путь к изображению */
    background-size: cover;
    margin-bottom: 20px;
}

.block-with-background-color {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    margin-bottom: 20px;
}