body {
    margin: 0;
}

.light {
    height: 100vh;
    display: inline-block;
    width: 30%;
}

.red {
    background-color: red;
    height: 100vh;
    display: inline-block;
    width: 30%;
}

.yellow {
    background-color: yellow;
    height: 100vh;
    display: inline-block;
    width: 30%;
}

.green {
    background-color: green;
    height: 100vh;
    display: inline-block;
    width: 30%;
}

.light:nth-child(1) {
    display: none;
}

.light:nth-child(2) {
    visibility: hidden;
}