/* Стилі для шапки */
header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

/* Стилі для основного контенту */
main {
    padding: 20px;
    text-align: justify;
    display: flex;

}

/* Стилі для футера */
footer {
    background-color: #ccc;
    padding: 10px;
    text-align: center;
}